body {
    background-color: #faf4f2;
}

.header {
    background-color: #f8e1db;
}

.header {
    padding: 10px 50px;
}

.header div a:first-child {
    color: #e76f51;
}

.header div a {
    padding-right: 20px;
    font-size: 20px;
}

.header div a:hover {
    color: #8d8d8d;
}

.header img {
    width: 50px;
    padding-bottom: 10px;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.carousel {
    background-image: url(../img/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    height: 600px;

    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.services {
    margin-top: -150px;
}

.services div div {
    float: left;
    width: 25%; 
    padding: 20px;
    box-sizing: border-box;   
}

.services div div div {
    width: 100%; 
    background-color: white;
    border-radius: 25px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);  
    text-align: center;     
}

.services div div div p {
    color: #8d8d8d;
}

.services div img {
    width: 90px;
    height: 100px;
}

.services div h1 {
    color: #8d8d8d;
    font-size: 25px;
    text-align: center;
}

.destinations-and-activities {
    text-align: center;
}

.destinations-and-activities img {
    display: block;
    
    margin-left: auto;
    margin-right: auto;

    border-radius: 25px;
}

.destinations-and-activities h1, .destinations-and-activities p {    
    color: #8d8d8d;
}

.destinations-and-activities div div {
    float: left;
    width: 25%; 
    padding: 20px;
    box-sizing: border-box; 
}

.destinations-and-activities div div div {
    width: 100%;  
    background-color: white;
    border-radius: 25px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    position: relative;      
}

.destinations-and-activities button {
    color: #8d8d8d;
    font-size: 18px;

    background-color: #e8e8e8;

    width: 200px;
    height: 50px;

    border-radius: 100px;
    border: none;

    cursor: pointer;
}

.destinations-and-activities button:hover {
    color: black;
}

.destinations-and-activities div div div i {
    position: absolute;
    top: 40px;
    right: 50px;

    background-color: rgba(255, 255, 255, 0.5);

    width: 40px;
    height: 40px;

    border-radius: 15px;

    line-height: 43px;

    color: #e76f51;
}

.destinations-and-activities div div div i:hover {
    color: red;
    cursor: pointer;
}

#destinations-and-activities__view-all {
    border: solid #f1b7a8 2px;
    color: #f1a58e;
    background-color: transparent;
}

#destinations-and-activities__view-all:hover {
    color: #e76f51;
    border: solid #e76f51 2px;
}

.contact {
    position: relative;
    background-color: #f8e1db;

    margin-top: 20px;

    width: 100%;
    height: 390px;

    border-radius: 25px;
}

.contact img:nth-child(1) {
    position: absolute;
    right: 350px;
}

.contact img:nth-child(2) {
    position: absolute;
    top: 20px;
    left: 70px;
}

.contact div {
    position: absolute;
    top: 50px;
    left: 800px;

    color: #8d8d8d;
}

.contact div div {
    position: absolute;
    top: 100px;
    left: 0px;

    color: #8d8d8d;
}

#contact__content__app-store-link {
    position: absolute !important;
    top: 60px !important;
    left: 0px !important;
}

#contact__content__play-store-link {
    position: absolute !important;
    top: 60px !important;
    left: 150px !important;
}

#follow-us {
    margin-left: 330px;
}

#facebook {
    margin-left: 330px;
    color: #e76f51;
    font-size: 25px;
}

#youtube {
    color: #e76f51;
    font-size: 25px;
}

#instagram {
    color: #e76f51;
    font-size: 25px;
}

#pinterest {
    color: #e76f51;
    font-size: 25px;
}

.footer {
    margin-top: 100px;
    background-color: #f8e1db;
    /* width: 100%; */
    height: 300px;
    padding: 50px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;

    line-height: 30px;
}

.footer .footer__column:nth-child(1) {
    width: 40%;
}

.footer .footer__column:nth-child(2) {
    width: 20%;
}

.footer .footer__column:nth-child(3) {
    width: 20%;
}

.footer .footer__column:nth-child(4) {
    width: 20%;
}

.footer__column {
    float: left;
    width: 25%;
}

.footer ul {
    list-style-type: none;
}

.footer ul li a {
    text-decoration: none;
    color: black;
}

.footer ul li a:hover {
    text-decoration: none;
    color: #8d8d8d;
}

.footer__column--copyright {
    text-align: center;
}